.header {
padding: 10px;
background: #fff;
color: #3b3b3b;
position: fixed;
width: 100%;
border-width: 5px;
border-bottom: solid #e7e7e7;
border-bottom-width: 1px;
max-height: 85px;
}

.content {
padding: 10px;
}

.landing {
    display: flex;
    flex-direction: column;
    background-color: #7d4698;
    color: #fff;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 130px;
    max-width: 600px;
    padding: 15px;
}

.landing2 {
    display: flex;
    flex-direction: column;
    background-color: #763596;
    color: #fff;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    max-width: 600px;
    padding: 15px;
}

body {
    background-color: #fff;
    color: #3b3b3b;
    font-family: Arial, sans-serif;
    height: wrap-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    position: fixed;
}

line {
    width: 2px;
    height: 10%;
    background-color: #fff;
}

.search-row {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.search-tabs-row {
    display: flex;
    margin-left: 100px;
}

.search-tab {
    display: flex;
    align-items: center;
    margin: 0; padding: 0;
    margin-right: 15px;
}

.search-tab-selected {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    border-bottom: solid #7d4698;
    border-width: 2px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

label, input {
    margin-bottom: 20px;
    border-radius: 0px;
}

input {
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: fit-content;
}

input[type="submit"]:hover {
    background-color: #7d4698;
    color: #fff;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.search-result {
    height: fit-content;
    width: 550px;
    padding: 5px 10px 5px 10px;
}

.more-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 8px;
    line-height: 1.2;
}

.results-container {
    flex-direction: column;
    padding-top: 120px;
    margin-left: 100px;
    max-width: fit-content;
}

.footer-container {
    flex-direction: column;
    margin-left: 100px;
    max-width: fit-content;
}

.footer-box {
    height: fit-content;
    width: 70%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 20px;
}

.search-box {
    width: 525px;
    border-radius: 8px;
}

span {
    font-size: 12px;
    font-weight: normal;
    float: center;
    text-align: right;
}

h3 {
    margin-top: 0px;
    margin-bottom: -10px;
    padding: 0;
}

a {
    color: #7d4698;
    text-decoration: none;
}

a:hover {
    color: #a325e3;
    text-decoration: none;
}
